name: Test de Id 2
on:
  workflow_dispatch:

jobs:

  build:
    runs-on: ubuntu-linux
    steps:
      - name:
        id: test-cobertura
        run: echo "porcentagem=80" >> "$GITHUB_OUTPUT"
    outputs:
       test-cobertura: ${{ steps.test-cobertura.porcentagem }}

  quality_gate:
    needs: build
    runs-on: ubuntu-linux
    steps:
       - name : Quality gate test
        run: |
          if (( ${{ needs.build.output.test-cobertura  }} < 80 )); then
            echo "::error::Build reprovado por baixa cobertura"
            exit 1
          fi  
        

