name: teste de ID
on:
  workflow_dispatch

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name : Testes de cobertura
        id: test-cobertura
        run: echo "porcentage=87" >> "$GITHUB_OUTPUT"
    outputs:
      test-cobertura: ${{ steps.test-cobertura.outputs.porcentagem }}
   
  quality-gate:
    needs: build
    runs-on: ubuntu-latest
    steps:
      run: |
        echo "Cobertura minina: 80%"
        echo "Cobertura obtida:  ${{ needs.build.outputs.test-cobertura }}%"
        if (( ${{ needs.build.outputs.test-cobertura }} < 80 )) ; then 
          echo "::error::Build reprovado por cobertura baixa"
          exit 1
        fi
